# These owners will be the default owners for everything in the repo.
* @btb-finance/core-team

# Chain configuration files
/orbit-config.json @btb-finance/chain-admins
/node-config.json @btb-finance/chain-admins

# Smart contracts
/contracts/ @btb-finance/smart-contract-team
/test/contracts/ @btb-finance/smart-contract-team

# Deployment scripts
/scripts/ @btb-finance/devops-team

# Documentation
/docs/ @btb-finance/docs-team
*.md @btb-finance/docs-team

# CI/CD
/.github/workflows/ @btb-finance/devops-team

# Security
/SECURITY.md @btb-finance/security-team
